.hero {
    width: 100%;
    height: calc(100vh - 6rem);
    background: linear-gradient(#E71D73 0%, #FFEAF6 100%);
}
.hero-hearts {
    width: 100%;
    height: calc(100vh - 6rem);
    background-image: url(./Resurs\ 5.png);
    background-repeat: repeat;
    display: flex;
    justify-content: center;
}
.hero-wrapper {
    width: 100%;
    height: 100%;
    max-width: 1224px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hero-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1F2245;
    max-width: 25rem;
    padding: 1rem;
    text-align: center;
}
.button-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.hero-button {
    width: 70%;
    height: 2.2rem;
    border-style: none;
    border-radius: 0.6rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Adjust the shadow values as needed */
    font-family: 'CircularBold';
}
.readmore {
    background: linear-gradient( #b4e4ff 10%, #26A8E8 100%);
    color: #1F2245;
}
.findlovenow {
    background: linear-gradient( #ffb4de 10%, #E71D73 100%);
    color: white;
}


@media screen and (min-width: 1024px) {
    .hero {
        height: 33rem;
    }
    .hero-hearts {
        height: 33rem;
    }
    .hero-wrapper {
        justify-content: flex-end;
        align-items: flex-end;

    }
    .hero-info-wrapper {
        text-align: left;
    }
    .button-wrapper {
        flex-direction: row;
        gap: 1rem;
    }
    .hero-button {
        width: 50%;

    }
  
}