*, *::after, *::before {
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'CooperBlack';
    src: url('Cooper Black Regular.ttf') format('truetype');

}
@font-face {
    font-family: 'CircularBold';
    src: url('CircularStd-Medium.otf') format('opentype');

}
@font-face {
    font-family: 'CircularRegular';
    src: url('CircularStd-Book.otf') format('opentype');

}
p, span, a {
    font-family: 'CircularRegular', sans-serif;
    font-weight: 100;
}
  h3, h4,h5,h6 {
    font-family: 'CircularBold', sans-serif; 

 }
 h1,h2 {
    font-family: 'CooperBlack', sans-serif;
} 

body{
    margin: 0;
    padding: 0;
}
